In [11]:
import pandas as pd
from scipy import stats
from scipy.stats import ttest_ind #Checking if means of fuel_per_hour are equal

In [12]:
df = pd.read_csv('../data/cleaned_data.csv')

In [13]:
df.head()

,Unnamed: 0,distance,consume,speed,temp_inside,temp_outside,gas_type,ac,rain,sun,fuel_per_trip,fuel_per_hour,cost_trip
0,0,28.0,5.0,26,21.5,12,E10,0,0,0,1.400,0.0538,1.932000
1,1,12.0,4.2,30,21.5,13,E10,0,0,0,0.504,0.0168,0.695520
2,2,11.2,5.5,38,21.5,15,E10,0,0,0,0.616,0.0162,0.850080
3,3,12.9,3.9,36,21.5,14,E10,0,0,0,0.503,0.0140,0.694278
4,4,18.5,4.5,46,21.5,15,E10,0,0,0,0.832,0.0181,1.148850

### H0 : Fuel per hour consumed with E10 and SP98 is equal

In [14]:
E10 = df[df['gas_type']=='E10']
SP98 = df[df['gas_type']=='SP98']

In [16]:
# Perform t-test
t_statistic, p_value = stats.ttest_ind(E10['fuel_per_hour'], SP98['fuel_per_hour'])

# Print results
print(f"T-statistic: {t_statistic}")
print(f"P-value: {p_value}")

T-statistic: 0.9983229014048229
P-value: 0.31874821589021046

In [17]:
# Interpret the results
alpha = 0.05
if p_value < alpha:
    print("Reject the null hypothesis. There is a significant difference between the groups.")
else:
    print("Fail to reject the null hypothesis. There is no significant difference between the groups.")

Fail to reject the null hypothesis. There is no significant difference between the groups.

The observed difference in the 'fuel per hour' consumed between the two fuels (E10 and SP98) is not statistically significant.

### H0 : Cost of trip between E10 vs SP98 is equal

In [18]:
# Perform t-test
t_statistic, p_value = stats.ttest_ind(E10['cost_trip'], SP98['cost_trip'])

# Print results
print(f"T-statistic: {t_statistic}")
print(f"P-value: {p_value}")

T-statistic: 0.6186964484920059
P-value: 0.536481279060945

In [19]:
# Interpret the results
alpha = 0.05
if p_value < alpha:
    print("Reject the null hypothesis. There is a significant difference between the groups.")
else:
    print("Fail to reject the null hypothesis. There is no significant difference between the groups.")

Fail to reject the null hypothesis. There is no significant difference between the groups.

The difference in the cost per trip between the two fuels (E10 and SP98) is not statistically significant.

However, fuel prices are subject to frequent fluctuations influenced by various factors. To address this variability, it would be beneficial to integrate data from an API, enabling access to near real-time fuel prices. This would empower informed decision-making based on the latest market conditions.